body{
    margin:0px;
    padding:0px;
}

body section {
    margin: 0px 10% 0px 10%;
}

header{
    display:flex;
    justify-content: center;
    height: 80px;
    background-color:floralwhite;
}

header p {
    font-size: 23px;
    font-family: impact;
    color:rgb(43, 0, 0);
    background-color:floralwhite;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin:0px;
    padding: 0px;
}

nav ul{
    display:flex;
}

nav a {
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: uppercase;
    color:rgb(71, 17, 17);
    font-size: 18px;
    font-family: Impact;
}

nav a:hover{
    background-color: rgb(0, 0, 0);
    color:floralwhite;
}

.redes_sociais img{
    width:19px;
}

.container {
    background-color:floralwhite;
    display: flex;
    justify-content: center;
    width:900px;
}

.video_capa{
    
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.botao_compra{
    color:rgb(71, 17, 17);
    font-size: 25px;
    font-family: Impact;
    padding-top: 5px;
    text-align: center;
    text-decoration: none; 
}

h2 {
    font-family: Calibri;
    color: rgb(71, 17, 17); 
    border-top: solid rgb(71, 17, 17) 1px;
    text-align: left;
    padding-top: 10px;
}

h3 {
font-family: Calibri;
color: rgb(71, 17, 17); 
text-align: justify;

}

section img {
    width: 190px;
    float: left;
    margin-left: 10px;
    padding-right: 20px;
    vertical-align:center;
    padding-bottom: 10px;
}

section p {
    font-family:Calibri;
    font-size: 18px;
    color: rgb(34, 32, 32);
    text-align: left;
    
}

.citacao p {
    text-align: center;
    margin-bottom: 0px;
}

.container_dep{
    display:flex;
    flex-flow: column wrap;  
    text-align: center;
}



#atmosphere_jkd_videos .playlist {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
        
}


a {
    text-decoration: none;
    color: rgb(165, 25, 25);
}

a:hover {
    color:rgb(35, 36, 39);
    transition:all 1s linear;
}

a:visited {
    color: rgb(165, 25, 25);
}

.container_cursos{
    display:flex;
    flex-flow: column wrap;  
    text-align: justify;
}
    

#ebooks img {
    width: 300px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#ebooks p {
    margin: 0px;
    margin-left: 30px;
    padding-bottom: 0px;
}

form {
    
    width:100px;
    font-family: calibri;
    padding-bottom: 30px;
    
}

.submit  {
    padding-top: 10px;
}

#contato p {
    padding-bottom: 0px;
    line-height:3px;

}

footer h3{
    font-family:Calibri;
    font-size:10px;
    text-align:center;
    background-image: linear-gradient(black, rgb(105, 81, 81));
    color:floralwhite;
}

#form_atmosphere {
    background-color:floralwhite;
    color:rgb(63, 0, 0);
    resize: none;
}

#form_atmosphere, textarea{
    resize: none;  
}

.menumobile{
    display: none;
    width:40px;
    height:40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: rgb(63, 0, 0);;
}

@media (max-width:800px){

    .body {
        margin:0;
        padding:0;
    }


    section,
    p,
    img
    {
        width:auto;
        text-align: left;
    }
  

    .contatiner{
        flex-direction: column;
    }

      header.container {
       flex-direction: row;
   }

   nav ul {
       flex-direction: column;
       display: none;
       position: absolute;
       left: 0;
       width: 100%;
       background-color: white;
   }

   header {
       height:auto;
       background-color: floralwhite;
   }

   .logo {
       padding-right: 20px;
   }

   .menumobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }

    .footer {
    width:100%

   }

}
