body{
    margin:0px;
    padding:0px;
}

body section {
    margin: 0px 10% 0px 10%;
}

header{
    display:flex;
    justify-content: center;
    height:100%;
    background-color:rgb(255, 255, 255);
}

header p {
    font-size: 22px;
    font-family:'Special Elite', cursive;
    color:rgb(97, 3, 3);
    background-color:rgb(255, 255, 255);
}

.logo{
    width:auto;
    height: auto;
}

#sobre img {
    width:120px;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin:0px;
    padding: 0px;
}

nav ul{
    display:flex;
}

nav a {
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: uppercase;
    color:rgb(71, 17, 17);
    font-size: 22px;
    font-family:'Peddana', serif;
}

nav a:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

.redes_sociais img{
    width:18px;
}

.container {
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    width:100%;
}

.video_capa{
    
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.botao_compra{
    color:rgb(71, 17, 17);
    font-size: 18px;
    font-family: 'Special Elite', cursive;
    padding-top: 5px;
    text-align: center;
    text-decoration: none; 
}

h2 {
    font-family: 'Special Elite', cursive;
    color: rgb(71, 17, 17); 
    border-top: solid rgb(71, 17, 17) 1px;
    text-align: left;
    padding-top: 10px;
}

h3 {
font-family: 'Special Elite', cursive;
color: rgb(71, 17, 17); 
text-align: justify;

}

section img {
    width: 160px;
    float: left;
    margin-left: 10px;
    padding-right: 20px;
    vertical-align:center;
    padding-bottom: 10px;
}

section p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: rgb(34, 32, 32);
    text-align: justify;
    
}

.citacao p {
    text-align: center;
    margin-bottom: 0px;
}

.container_dep{
    display:flex;
    flex-flow: column wrap;  
    text-align: center;
}



#atmosphere_jkd_videos .playlist {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.playlist iframe {
    padding:5px
}


a {
    text-decoration: none;
    color: rgb(165, 25, 25);
}

a:hover {
    color:rgb(35, 36, 39);
    transition:all 1s linear;
}

a:visited {
    color: rgb(165, 25, 25);
}

.container_cursos{
    display:flex;
    flex-flow: column wrap;  
    text-align: justify;
}
    

#ebooks img {
    width: 300px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}


form {
    
    width:100px;
    font-family: 'Peddana', serif;
    padding-bottom: 30px;
    
}

.submit  {
    padding-top: 10px;
}

#contato p {
    padding-bottom: 0px;
    line-height:3px;

}

footer h3{
    font-family:'Special Elite', cursive;
    font-size:10px;
    text-align:center;
    background-image: linear-gradient(black, rgb(105, 81, 81));
    color:floralwhite;
}

#form_atmosphere {
    background-color:floralwhite;
    color:rgb(63, 0, 0);
    resize: none;
}

#form_atmosphere, textarea{
    resize: none;  
}

.menumobile{
    display: none;
    width:40px;
    height:40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: rgb(63, 0, 0);;
}

@media (max-width:700px){

    .body {
        margin:0;
        padding:0;
    }

    header{
        width: auto;
        height: auto;
    }

    section,
    p,
    img, h1, h2, h3
    {
        width:auto;
        text-align: justify;
        padding:10px;
        margin:auto;
        font-size:12px;
        
    }

    .logo p{
        text-align: center;
        padding: auto;
    }

    .menu{
        justify-content: space-around;
    }

    #contato p{
        width:auto;
        line-height: 10px;
        font-size:12px;
    }

    .video_capa iframe {
        width:auto;
    }

    .playlist iframe {
        width:auto;
        padding: 10px;

    }
  
    #ebooks img {
        width: 100px;
        height: 100%;

    }

     .container{
        flex-direction: column;
    }

      header.container {
       flex-direction: column;
   }

   nav ul {
       flex-direction: column;
       display: none;
       position: absolute;
       left: 0;
       width: 100%;
       background-color: white;
   }

   header {
       height:auto;
       background-color: floralwhite;
   }

   .logo {
       padding-right: 20px;
   }

   .menumobile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
   }

    .footer {
    width:100%

   }

}
